.github
.phpunit.cache
.idea
output
assets/node_modules
docker/volumes
vendor
var

public/build
public/uploads
!public/uploads/.gitkeep
public/tmp
!public/tmp/.gitkeep
public/thumbnails
!public/thumbnails/.gitkeep
public/manifest.json