{% block file_widget %}
    {% apply spaceless %}
        <div data-controller="preview" class="has-text-centered">
            <label>
                {% if form.parent.vars.value.path is not null %}
                    <img data-preview-target="image" class="preview is-clickable"
                         src="{{ asset(form.parent.vars.value.path) }}"/>
                {% else %}
                    <img data-preview-target="image" class="preview is-clickable"
                         src="{{ asset('build/images/default.png') }}"/>
                {% endif %}
                <input {{ block('widget_attributes') }}
                        data-action="change->preview#load"
                        type="file"
                        accept="image/png, image/jpeg, image/jpg, image/gif, image/webp, video/mp4"
                />
            </label>
        </div>
    {% endapply %}
{% endblock file_widget %}