{% for post in posts %}
    <a href="{{ path('app_post_show', {slug: board.slug, id: post.id}) }}">
        <figure class="image">
            <div>
                {% if post.duration is not null %}
                    <span class="tag is-dark has-text-weight-medium">
                        {{ post.duration|minutes }}
                        {% if post.hasSound %}
                            &nbsp;🕩
                        {% endif %}
                    </span>
                {% endif %}
                
                {% if post.mimetype == 'image/svg+xml' %}
                    <img src="{{ asset(post.path) }}">
                {% else %}
                    <img src="{{ asset(post.path|thumbnail(360)) }}">
                {% endif %}
            </div>
        </figure>
    </a>
{% endfor %}