parameters:
    release: '1.0.0'

services:
    _defaults:
        autowire: true
        autoconfigure: true
        bind:
            $publicPath: '%kernel.project_dir%/public'

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\EventListener\UserListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist, lazy: true }
            - { name: doctrine.event_listener, event: preUpdate, lazy: true }

    App\EventListener\UploadListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist, lazy: true }
            - { name: doctrine.event_listener, event: onFlush, lazy: true }
            - { name: doctrine.event_listener, event: postRemove, lazy: true }
            - { name: doctrine.event_listener, event: postLoad, lazy: true }

    App\EventListener\SeenListener:
        tags:
            - { name: kernel.event_listener, event: kernel.response }