parameters:
    release: '1.2.0'
    default_locale: 'en'
    .container.dumper.inline_factories: true

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'
        exclude:
            - '../src/DependencyInjection/'
            - '../src/Entity/'
            - '../src/Kernel.php'

    App\EventListener\UserListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist, lazy: true }
            - { name: doctrine.event_listener, event: preUpdate, lazy: true }

    App\EventListener\UploadListener:
        tags:
            - { name: doctrine.event_listener, event: prePersist, lazy: true }
            - { name: doctrine.event_listener, event: onFlush, lazy: true }
            - { name: doctrine.event_listener, event: postRemove, lazy: true }
            - { name: doctrine.event_listener, event: postLoad, lazy: true }

    App\EventListener\SeenListener:
        tags:
            - { name: kernel.event_listener, event: kernel.response }

    App\EventListener\LocaleListener:
        tags:
            - { name: kernel.event_listener, event: kernel.request, priority: 15 }
            - { name: kernel.event_listener, event: security.interactive_login }
            - { name: doctrine.event_listener, event: postUpdate, lazy: true }

    App\Service\SimilarityChecker:
        public: true

    Doctrine\Migrations\Version\DbalMigrationFactory: ~
    App\Migrations\Factory\MigrationFactoryDecorator:
        decorates: Doctrine\Migrations\Version\DbalMigrationFactory
        arguments: [ '@App\Migrations\Factory\MigrationFactoryDecorator.inner', '@service_container' ]

when@test:
    services:
        App\Tests\Factory\:
            resource: '../tests/Factory'