html, .navbar, .autocomplete-dropdown-textarea, .navbar-menu {
    background-color: #2a2a2a;
}

.navbar-item, .navbar-link, .breadcrumb li.is-active a, body, .box, .table, .title, .subtitle, .label, .table thead th {
    color: #ccc;
}

.box, .table, .autocomplete-dropdown-search {
    background-color: #3f3f46;
}

.input, .select select, .textarea {
    background-color: #ccc;
}

.is-category-general {
    color: #009be6;
}

.is-category-meta {
    color: #ead084;
}

.is-category-copyright {
    color: #c797ff;
}

.is-category-artist {
    color: #ff8a8b;
}

.is-category-character {
    color: #35c64a;
}

.navbar i, .navbar-burger {
    color: #ccc;
}

.box {
    box-shadow: 0 .5em 1em -.125em hsla(0,0%,4%,.1),0 0 0 1px hsla(0,0%,4%,.02);
    color: #4a4a4a;
    display: block;
    padding: 1.25rem;
}

.input, .select select, .textarea {
    border-color: #dbdbdb;
    border-radius: 4px;
    color: #363636;
}

label.checkbox, .config {
    color: #ccc;
}

.toast {
    color: white;
}