@import "../node_modules/bulma/css/bulma.min.css";
@import '../fonts/icomoon/icomoon.css';

html {
    height: 100%;
}

.section {
    padding: 3rem 1.5rem;
}

.grid {
    grid-template-columns: repeat(auto-fill,minmax(180px,1fr));
    gap: 0.5rem;
    display: grid;
    text-align: center;
}

.grid a {
    margin-top: auto;
}

.preview {
    max-width: 300px;
    max-height: 300px;
}

.image-display {
    max-width: 800px;
    max-height: 650px;
}

/* Start image grid */
.grid figure img {
    margin: auto;
    max-width: 180px;
    max-height: 180px;
    width: unset;
}
/* End image grid */

/* Start board grid */
.grid .card img {
    width: 210px;
    height: 150px;
    object-fit: cover;
}

.grid .card {
    width: 210px;
    height: auto;
}
/* End board grid */

figure .tag {
    position: absolute;
    top: 5px;
    left: 5px;
}

.category-meta {
    color: #ead084;
}

.category-copyright {
    color: #c797ff;
}

.category-artist {
    color: #ff8a8b;
}

.category-character {
    color: #35c64a;
}

.block-search .control {
    width: 100%;
}

/* Start loader */
html.loading:before {
    animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
    background-color: #ff6600;
    content: "";
    display: block;
    height: 4px;
    left: 0;
    position: fixed;
    width: -35%;
    will-change: left, right;
    z-index: 101;
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

#offline-message {
    background-color: #ff6600;
    bottom: 0;
    color: #d1d1d1;
    font-weight: bold;
    height: 50px;
    left: 0;
    padding-top: 12px;
    position: fixed;
    right: 0;
    text-align: center;
    z-index: 150;
}

#offline-message span {
    width: 100%;
}
/* End loader */